body{
    margin: 0;
    padding: 0;
    background-image: url('img/pizza6.jpeg');
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
nav ul{
    margin: 0;
    padding: 0;
    list-style:none;
    background-color: rgb(197, 112, 15);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 15%;
    z-index: 1000;
    box-shadow: 0 5px 10px 1px rgb(134, 45, 45);
    border-radius: 3%;
}
nav li{
    display: inline-block;
    margin-left: 15%;
    padding: 35px;
    position: relative;  
}
nav a{
    text-decoration: none;
    color: white;
    font-size: 25px;
}
nav a:hover{
    background-color: rgb(175, 24, 189);
}
.text{
    color: brown;
    text-align: center;
    font-family: 'Abril fatface', cursive;
}
  